@import url(../root.css);
@import url(../root-default.css);

/* Area da Galeria */

.section_agenda {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

/* Area do Titulo */

.agenda_title {
    width: 100%;
    padding: 8px;
}

.agenda_title h1 {
    color: var(--color-base-black);
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}

/* Configurações Gerais */

.agenda_area_g {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* Faz todos os filhos terem a altura do maior elemento */
    align-items: stretch; 
    padding: 8px;
}

.agenda_area_g1 {
    width: 40%;
}
.agenda_area_g2 {
    width: 50%;
}

.agenda_middleLine {
    background-color: var(--color-base-black);
    width: 2px;
}

/* Area da Agenda 1 - Area do Calendario  */

.agenda_area_g1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Area do Calendario */

.calendario {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

/* Opções do Calendário */

.calendario_options {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Botões do Calendário */

.calenOpt_btn {
    height: 100%;
    /* Mantém a proporção 1:1 (quadrado) */
    aspect-ratio: 1/1; 
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: all .3s ease-in-out;
}
.calenOpt_btn .calenOpt_charArrow {
    font-size: 20px;
    font-weight: normal;
    font-family: var(--font-stardosstencil);
    scale: 1.6;
}
.calenOpt_btn:hover {
    background-color: var(--color-bg-light-hover);
}

/* Texto/Nome do Mês do Calendário */

.calenOpt_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.calenOpt_info h2 {
    color: var(--color-base-black);
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}

/* Semanas do Calendário */

.calendario_weeks {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    align-items: center;
    justify-items: center;
}
.calendario_weeks li {
    color: var(--color-base-black);
    text-align: center;
    font-weight: 500;
    font-size: 24px;
}

/* !!! ============= Dias do Calendário */


.calendario_dias {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    align-items: center;
    justify-items: center;
}

.calendario_dias li {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--color-base-black);
    color: var(--color-base-black);
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    transition: all .3s ease-in-out;
}

/* Itens da Lista : Dia */
.calendario_dias li:hover {
    background-color: var(--color-bg-light-hover);
}

/* Itens da Lista | Dia de Hoje */
.calendario_dias li.diaHoje {
    background-color: var(--color-azul-arcca-transparent);
    color: var(--color-base-white);
    border: 2px solid transparent;
}
.calendario_dias li.diaHoje:hover {
    background-color: var(--color-azul-arcca);
}

/* Itens da Lista | Dia de Hoje e Evento no mesmo Dia */
.calendario_dias li.eventDiaHoje {
    background: var(--color-verdeAzul-arcca-transparent);
    color: var(--color-base-white);
    border: 2px solid transparent;
}
.calendario_dias li.eventDiaHoje:hover {
    background: var(--color-verdeAzul-arcca);
}

/* Itens da Lista | Evento já ocorreu */
.calendario_dias li.eventOff {
    background-color: var(--color-vermelho-arcca-transparent);
    color: var(--color-base-white);
    border: 2px solid transparent;
}
.calendario_dias li.eventOff:hover {
    background-color: var(--color-vermelho-arcca);
}
/* Itens da Lista | Evento a ser marcado */
.calendario_dias li.eventWill {
    background-color: var(--color-amarelo-arcca-transparent);
    color: var(--color-base-black);
    border: 2px solid transparent;
}
.calendario_dias li.eventWill:hover {
    background-color: var(--color-amarelo-arcca);
}
/* Itens da Lista | Evento irá ocorrer */
.calendario_dias li.eventOn {
    background-color: var(--color-verde-arcca-transparent);
    color: var(--color-base-white);
    border: 2px solid transparent;
}
.calendario_dias li.eventOn:hover {
    background-color: var(--color-verde-arcca);
}

/* Itens da Lista : Dia que não existe, item vazio */
.calendario_dias li.empty {
    visibility: hidden;
    pointer-events: none;
}

.i_day_select {
    position: relative;
    border: 2px var(--color-base-black) solid !important;
    /* border-radius: 50% !important; */
    box-shadow: 0 0 16px 0px var(--color-base-black) !important;
}
/* .i_day_select::before {
    content: "";
    position: absolute;
    z-index: 101;
    width: 110%;
    height: 2px;
    background-color: var(--color-base-black);
    border-radius: 4px;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
} */

/* Sumário do Calendário */

.calendario_sumario {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.calendaSum {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px;
    gap: 8px;
}

.calendaSum_fig {
    width: 24px;
    height: 24px;
    background-color: var(--color-base-black);
    border-radius: 4px;
}
.calendaSum_fig_0 {
    background-color: var(--color-azul-arcca);
}
.calendaSum_fig_1 {
    background-color: var(--color-verde-arcca);
}
.calendaSum_fig_2 {
    background-color: var(--color-amarelo-arcca);
}
.calendaSum_fig_3 {
    background-color: var(--color-vermelho-arcca);
}

.calendaSum .calendaSum_text {
    color: var(--color-base-black);
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

/* Area da Agenda 2 - Area dos Eventos  */

.agenda_area_g2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

/* Titulo Eventos do Dia */

.eventoSelecionado_title {
    width: 100%;
    height: auto;
}
.eventoSelecionado_title h2 {
    color: var(--color-base-black);
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}

/* Mes selecionado no Evento */

.evento_dataCompleta {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.evento_dataCompleta p {
    color: var(--color-base-black);
    text-align: center;
    font-weight: 500;
    font-size: 16px;
}
.evento_dataCompleta p.bold {
    font-weight: bold;
    font-size: 18px;
}

/* Descrição do Evento */

.eventoSelecionado_eventTitle {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 12px 0 0 0;
    letter-spacing: 2px;
}
.eventoSelecionado_eventTitle h3 {
    color: var(--color-base-black);
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}

/* Descrição do Evento */

.eventoSelecionado_descricaoEvento {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 16px 0;
}
.eventoSelecionado_descricaoEvento p {
    color: var(--color-base-black);
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    text-wrap: pretty;
    text-indent: 16px;
}

/* Veja mais no SYMPLA !Temp */

.eventoSelecionado_vejaMaisSympla {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}
.eventoSelecionado_vejaMaisSympla h3 {
    color: var(--color-base-black);
    text-align: center;
    font-weight: normal;
    font-size: 20px;
}
.eventoSelecionado_vejaMaisSympla h3 span {
    font-weight: bold;
}

.eventoSelecionado_vejaMaisSympla a {
    text-decoration: none;
    font-weight: 600;
    color: var(--color-verde-arcca);
    font-family: var(--font-poppins);
    font-size: 16px;
}
.eventoSelecionado_vejaMaisSympla a.hoverAnimation_botFromMid::before {
    bottom: 0px;
    background-color: var(--color-verde-arcca);
}

/* Mobile ============================================= */

@media (max-width: 500px) {



}