<div aria-goTopType="smooth" class="btn_goTop area_goTop has_tp_clickable">
    <ion-icon class="footer_goTop_icon" name="arrow-up-outline"></ion-icon>
    <p class="footer_goTop_text">Ir ao Topo</p>
    <tooltip class="tooltip tp_footer_goTop">Ir ao Topo</tooltip>
</div>
<div class="inter_footer">
    <div class="footer_content">
        <div class="footer_powered footer_withText">
            <p>Powered by: <a class="hoverAnimation_botFromMid">@someone</a></p>
        </div>
    
        <div class="footer_social">
            <ul class="footer_social_list">
                <li class="footer_social_list_i">
                    <ion-icon name="logo-instagram"></ion-icon>
                    <div class="social_logos_bg bg_instagram"></div>
                </li>
                <li class="footer_social_list_i">
                    <ion-icon name="logo-whatsapp"></ion-icon>
                    <div class="social_logos_bg bg_whatsapp"></div>
                </li>
                <li class="footer_social_list_i">
                    <ion-icon name="logo-tiktok"></ion-icon>
                    <div class="social_logos_bg bg_tiktok"></div>
                </li>
                <li class="footer_social_list_i">
                    <ion-icon name="logo-youtube"></ion-icon>
                    <div class="social_logos_bg bg_youtube"></div>
                </li>
                <li class="footer_social_list_i">
                    <ion-icon name="logo-facebook"></ion-icon>
                    <div class="social_logos_bg bg_facebook"></div>
                </li>
            </ul>
        </div>
    
        <div class="footer_developed footer_withText">
            <p>Developed by: <a class="hoverAnimation_botFromMid" href="https://github.com/Francisco-Neves-15" target="_blank">Francisco-Neves-15</a></p>
        </div>
    
        <div class="footer_copyright footer_withText">
            <p><span class="copyright_sym">©</span> 2025 Copyright: arcca.capoeira.angola</p>
        </div>
    </div>
</div>