<div class="inter_header">
    <div class="area_logo">
        <img style="max-height: 100px;" src="../midia/logos/logo_arcca_bgT.png" alt="Logo ARCCA" class="header_logo">
    </div>
    <div class="area_title">
        <h1>ARCCA</h1>
        <h2>Capoeira Angola</h2>
    </div>
    <nav id="navbar" class="navbar">
        <div class="icon_menu" id="navbar-menu" aria-status="deactivated">
            <div class="icon_menu_i"></div>
            <div class="icon_menu_i"></div>
            <div class="icon_menu_i"></div>
        </div>
        <ul id="navlist" class="navlist">
            <li class="navlist_i cursorPointer hoverAnimation_botFromMid">Agenda</li>
            <li class="navlist_i cursorPointer hoverAnimation_botFromMid">Contato</li>
        </ul>
    </nav>
</div>